<section id="sections-sidebar" class="sections-sidebar">
  <nav class="dropdown">
    <ul>
      <li><a href="#">World</a></li>
      <li class="sf">
        San Francisco
        <ul class="sf inner-menu">
          <li>San Francisco</li>
          <li>Students</li>
          <li>Teaching Assistants</li>
          <li>Instructors</li>
          <li>Career Advisors</li>
          <li>Cats</li>
        </ul>
      </li>
      <li><a href="#">New York</a></li>
      <li class="bootcamp">Bootcamp Prep
        <ul class="inner-menu bootcamp">
          <li>Bootcamp Prep</li>  
          <li>Students</li>  
          <li>Instructors</li>  
          <li>Cats</li>  
        </ul>
      </li>
      <li><a href="#">Jumpstart</a></li>
      <li class="online">Online
        <ul class="inner-menu online">
          <li>Online</li> 
          <li>Immersive</li> 
          <li>Bootcamp Prep</li> 
          <li>Cats</li> 
        </ul>
      </li>
      <li><a href="#">Marketing</a></li>
      <li class="sales">Sales
        <ul class="inner-menu sales">
          <li>Sales</li> 
          <li>Associates</li>
          <li>Analytics</li> 
          <li>Cats</li> 
        </ul>
      </li>
      <li><a href="#">TalentMatch</a></li>
      <li class="alumni">Alumni
        <ul class="inner-menu alumni">
          <li>Alumni</li> 
          <li>Students</li> 
          <li>Companies</li> 
          <li>Opinions</li> 
          <li>Cats</li> 
        </ul>
      </li>
      <li><a href="#">All</a></li>
    </ul>
  </nav>
</section>            