.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-size: 14px;
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  margin-left: 20px;
}

.right-nav > ul > li {
  font-size: 14px;
  font-family: $sans-serif;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 5px;
}

.right-nav > ul > li:last-of-type {
  padding: 10px;
  position: relative;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin: 20px 0 20px 10px;
}


.right-nav i {
  font-size: 22px;
}

@media (max-width: 1000px) {
  .left-nav {
    margin: 0;
  }
  .right-nav button {
    display: none;
  }
}